@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #f8f7ff;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 12px;
}
.phone {
  width: 307px;
  background: linear-gradient(180deg, #f8f8f8 50%, #dbdbdb);
  margin-top: 15px;
  padding: 0 16px;
  border: 17px solid white;
  border-radius: 40px;
  position: relative;
  box-shadow: 5px 5px 5px 5px #e7e7f1;
  overflow: hidden;
}

.screen__box {
  width: 150px;
  height: 20px;
  background-color: white;
  margin-left: 49px;
  border-radius: 0 0 17px 17px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.header__header {
  font-size: 14px;
  opacity: 0.7;
}
.header i {
  opacity: 0.5;
}

.popular__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 26px;
  opacity: 0.7;
}
.popular__header h6 {
  color: #f0263a;
}

.popular__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9px;
  font-size: 10px;
}
.popular__list > li {
  width: 117px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: white;
  background-position: center;
  background-size: cover;
}

.popular__pastry {
  background-image: linear-gradient(transparent, rgba(10, 6, 6, 0.466) 95%),
    url("../images/pastry.jpg");
}
.popular__home {
  background-image: linear-gradient(transparent, rgba(10, 6, 6, 0.466) 95%),
    url("../images/salad.jpg");
}
.popular__babies {
  background-image: linear-gradient(transparent, rgba(10, 6, 6, 0.466) 95%),
    url("../images/babies.jpg");
}
.popular__smoothie {
  background-image: linear-gradient(transparent, rgba(10, 6, 6, 0.466) 95%),
    url("../images/smoothie.jpg");
}
.other__header {
  margin-top: 20px;
  margin-bottom: 14px;
  opacity: 0.7;
}
.other__title h5 {
  opacity: 0.6;
}
.other__title h6 {
  opacity: 0.5;
}
.other__list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55px;
  background-color: #fcfcfc;
  padding: 12px;
  border-radius: 12px;
  margin-top: 10px;
  box-shadow: 8px 10px 26px -18px rgb(0, 0, 0, 0.82);
  overflow: hidden;
}
.recipes .other__btn i {
  color: #ea7985;
}
.tab-bar {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: -20px;
  right: 0px;
}
.tab-bar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  list-style-type: none;
}
.tab-bar__tab:nth-child(1),
.tab-bar__tab:nth-child(3),
.tab-bar__tab:nth-child(4) {
  color: #7b7a7b;
}
.tab-bar__list .tab-bar__tab:nth-child(2) {
  color: #ec707d;
}
