@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import "reset.css";
@import "product.css";
@import "photo.css";

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
main {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 270px;
  padding: 5px;
}
