@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.library {
  width: 353px;
  background-color: #ffffff;
  box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.4);
}
header {
  height: 85px;
  background-color: #00c6ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0px 14px;
}
h3 {
  margin: 0px;
}

.header-wrap span {
  color: #551a8b;
}
.search {
  height: 44px;
  width: 333px;
  margin: 2px 9px;
  background-color: white;
  border-radius: 21px;
  position: relative;
  top: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 2px 0px rgb(0, 0, 0, 0.2);
}
.search input {
  margin-left: 32px;
}
.fa-search {
  margin-right: 16px;
}
.box {
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
}
.box > h4 {
  margin: 0px 0px 13px 0px;
}
.today__frame,
.author__frame {
  display: flex;
}
.today__frame img,
.author__frame img {
  width: 90px;
  height: 132px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 15px;
}

.today__frame__book-info h4,
.author__frame__author-info h4 {
  margin: 0px 0px 10px 0px;
  color: #838383;
}
.today__frame__book-info {
  display: flex;
  flex-direction: column;
}
.today__frame__book-info span {
  color: #e6e6e6;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 10px;
}
.today__frame__book-info div {
  color: #ffce33;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 10px;
}
.today__frame__book-info__tag {
  margin-bottom: 20px;
  border-radius: 30%;
}
.tag {
  border: none;
  padding: 5px 9px;
  margin: 0px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
}
.bookmark {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: #00c6ad;
  font-size: 13px;
  margin-right: 42px;
}
.buy {
  background-color: black;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 11px;
}
.star-rating {
  margin-top: 10px;
  font-size: 12px;
  color: #ffce33;
}

ul {
  display: flex;
}
ul img {
  width: 65px;
  height: 93px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 18px;
}
.author__frame__author-info {
  width: 182px;
}
p {
  color: #e6e6e6;
  font-size: 12px;
  font-weight: 600;
}
