@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800;900&family=Work+Sans:wght@500;700;800;900;&display=swap");

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  color: #010d3c;
}
.phone {
  width: 330px;
  height: 100%;
  padding: 21px;
  background-color: white;
  border-radius: 48px;
  box-shadow: inset -6px -6px 15px rgba(145, 160, 180, 0.45),
    30px 30px 40px rgba(118, 146, 180, 0.18);
  overflow: hidden;
}

.screen {
  background-image: linear-gradient(transparent, #f1f2f6 54%),
    url("../images/santoro.JPG");
  background-size: 570px;
  padding: 0px 20px;
  border-radius: 32px 32px 0px 0px;
}
.status-bar {
  height: 43px;
  width: 265px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
header {
  margin-bottom: 6px;
}
.header__header {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.header__photo {
  height: 230px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 82px;
}
.header__photo > img,
.header__photo > div {
  height: 45px;
  width: 45px;
  border-radius: 10px;
}
.header__photo > div {
  background-color: #3e68ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.place {
  padding: 20px 6px;
}

.place__tag > span {
  padding: 5px 8px;
  background-color: #dce3f9;
  font-size: 11px;
  border-radius: 14px 14px 14px 0px;
  margin-right: 6px;
  font-weight: 600;
  color: #6c68fe;
}

.place__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 15px 0px;
  font-size: 30px;
}

.place__head > span {
  background-color: white;
  padding: 6px 9px;
  border-radius: 50%;
  color: red;
  box-shadow: 3px 2px 26px 0px rgba(0, 0, 0, 0.21);
}

.place__etc {
  margin-bottom: 22px;
  font-size: 13px;
  font-weight: 600;
}
.fa-thumbtack {
  color: #869ffb;
}
.fa-star {
  color: #ffbb01;
  margin-top: 9px;
}

.place__etc > span:first-child {
  color: #616986;
}
.place__etc > span:last-child {
  margin-left: 110px;
  color: #9095aa;
}
.place__info {
  font-size: 13px;
  color: #9095aa;
  font-weight: 600;
}
.place__info > span:first-child {
  font-size: 11px;
}
.place__info > span:last-child {
  color: #6c68fe;
}
p {
  margin: 6px 0px;
}

.nav {
  height: 56px;
  font-size: 18px;
  background-color: white;
  border-radius: 0px 20px 20px 0px;
}

.nav__bar {
  width: 42px;
  height: 2px;
  background-color: #3e68ff;
  position: relative;
  left: 69px;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 54px;
}
a {
  color: #9aa9c2;
  text-decoration: none;
}
.nav__list > span {
  padding: 10px 13px;
  border-radius: 50%;
  background-color: #3e68ff;
  position: relative;
  top: -25px;
  box-shadow: 6px 5px 32px 5px rgba(0, 0, 0, 0.21);
}
.nav__list > span > a {
  color: white;
}
